*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #051D3B;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img{
    width: 200px;
    height: 75px;
}

.search-container > input{
    background-color:   rgba(45, 65, 91, 1);
    border-radius: 8px;
    border: none;
    width: 600px;
    height: 50px;
    padding-left: 20px;
}

.usuario{
    width: 106px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.foto-perfil{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

li{
    display: flex;
    list-style-type: none;  
    align-items: center;
    margin: 8px;
}

li>img{
    margin-right: 8px;
}

.icone-codigo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5081FB;
    width: 48px;
    height: 48px;
    border-radius: 16px;
    margin-right: 8px;
}

.menu{
    width: 189px;
    height: 146px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    p{
        margin-left: 15px;
        margin-bottom: 5px;
    }
}

.container-bar-left{
    display: flex;
    flex-direction: column;
    width: 272px;
    margin-top: 100px;

    input, textarea, select, option{
        width: 272px;
        margin-top: 8px;
        height: 80px;
        background-color:   rgba(45, 65, 91, 1);
        border: none;
        border-radius: 8px;
        padding-left: 8px;
        box-sizing: border-box;
        color: white;
    }

    #nome_projeto, select{
        height: 56px;
    }

    textarea{
        padding-top: 8px;
    }
}

.areaColor>input{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}